# Supervised Learning
## Decision Trees
##### Elliot Partridge

_"For the following quiz, consider the data found in this file, consisting of twenty-four made-up insects measured on their length and color."_

**Question:**

_"Which of the following splitting criteria provides the most information gain for discriminating Mobugs from Lobugs?"_

- Color = Blue
- Color = Green
- Length < 17.0mm
- Length < 20.0mm

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('/Users/elliotpartridge/Desktop/udacity_data_scientist_nanodegree/data_scientist_nanodegree_udacity/supervised_learning/decision_trees/quizzes_and_excersises/ml_bugs.csv')
data.head()

  Species  Color  Length (mm)
0   Mobug  Brown         11.6
1   Mobug   Blue         16.3
2   Lobug   Blue         15.1
3   Lobug  Green         23.7
4   Lobug   Blue         18.4

In [3]:
data.sort_values(by=['Length (mm)'])

   Species  Color  Length (mm)
0    Mobug  Brown         11.6
23   Mobug   Blue         13.1
12   Mobug  Brown         13.8
21   Lobug  Brown         14.1
13   Lobug   Blue         14.5
19   Mobug   Blue         14.6
2    Lobug   Blue         15.1
6    Mobug  Brown         15.7
1    Mobug   Blue         16.3
5    Lobug  Brown         17.1
16   Lobug  Green         17.9
15   Mobug  Brown         18.2
4    Lobug   Blue         18.4
7    Lobug  Green         18.6
22   Lobug  Green         18.8
20   Mobug   Blue         19.2
18   Mobug  Green         19.9
10   Lobug   Blue         20.5
9    Lobug   Blue         21.0
11   Mobug  Green         21.2
17   Lobug  Green         22.7
8    Lobug   Blue         22.9
3    Lobug  Green         23.7
14   Lobug  Green         24.8

In [4]:
# Length < 17.0mm

def two_group_ent(first, tot):                        
    return -(first/tot*np.log2(first/tot) + (tot-first)/tot*np.log2((tot-first)/tot))

tot_ent = two_group_ent(10, 24)                       
g17_ent = 15/24 * two_group_ent(11,15) + 9/24 * two_group_ent(6,9)
    
answer = tot_ent - g17_ent
answer

0.11260735516748976